*{
margin-top: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Outfit', sans-serif;
}

body{
height: 100vh;

}

nav.menu-lateral{
width: 80px ;
height: 100%;
background-color:rgb(37, 51, 34);
padding: 40px 0 40px 1%;
box-shadow: 3px 0 0 rgb(13, 243, 13);
position: fixed;
top: 0;
left: 0;
overflow: hidden;
transition: 0.7s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
 color: #fff;
 font-size: 24px;
 cursor: pointer;
}

ul{
 height: 100%;
 list-style-type: none;

}

ul li.ativo{
background-color: rgb(37, 51, 34);
}

ul li.item-menu{
    transition: 0.2s;
    
}

ul li.item-menu:hover{
    background-color: rgb(86, 167, 86);

}

ul li.item-menu a{
 color: #fff;
 text-decoration: none;
 font-size: 20px;
 padding: 20px 4%;
 display: flex;
 margin-bottom: 20px;
 line-height: 40px;

}

ul li.item-menu a .txt-link{
    margin-left: 40px;

}

ul li.item-menu a .icon > i{
 font-size: 30px;
 margin-left: 10px;
}


