#barra-topo{
  width: 100%;
  height: 50px;
  background-image: radial-gradient(circle, rgb(0, 0, 0), rgb(2, 2, 27));
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 25px;
  font-weight: bold;
}
#menu{
  width: 100%;
  height: 50px;
  background-color: 000;
  line-height: 50px;

}
#menu ul{
    color: white;
    margin: 0%;
    padding: 0;
    text-align: center;
    background-image: radial-gradient(circle, rgb(158, 145, 216), rgb(9, 9, 59), rgb(2, 2, 27));
}
#menu ul li{
  list-style: nome;
  display: inline;
  margin-left: 4%;

}

#destaques{
    width: 100%;
    height: 300px;
    background: white; 

}
#destaque1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
    background: red;

}