
#body{
background-color: rgb(53, 49, 49);

}  
#tituloPrincipal {
 color: black;
 font-size: 50px;
   }
  
#barra {
 background-image: radial-gradient(circle, rgb(0, 0, 0), rgb(37, 37, 145));
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 height: 50px;
  }
#rodape {
 position: absolute;
 bottom: 0;
 background-image: radial-gradient(circle, rgb(0, 0, 0), rgb(37, 37, 145)); 
 color: #FFF;
 width: 100%;
 height: 50px;    
 text-align: center;
 line-height: 50px;
 }
#tituloPincipal{
 color: #FFF;
 font-size: 50px;
}
#btcadastro{
  
  background-color: #4c5eaf; 
  border: none;
  color: #4c5eaf;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}
  